html, body {
	margin: 0;
	padding: 0;
}
body {
	background: url('../img/background/bg.png');
}
h1 {
	color: rgba(240,240,240,0.6);
	font-weight: 100;
	text-align: center;
	font-size: calc(1.4rem + 0.2vw);
	position: fixed;
	width: 100vw;
	top: 0;
	left: 0;
}
main {
	color: white;
	backdrop-filter: blur(9px);
	width: calc(94vw - 1rem);
	max-width: 1224px;
	margin: 4rem auto 50vh auto;
	padding: 12px;
	box-shadow: rgba(30,31,33,0.6) 0 0 1.2rem 0.3rem inset;
}
table {
	border-spacing: 0 5px;
}
td:first-of-type {
	max-width: 80%;
	text-indent: calc(1vw + 5px);
}
tr {
	background: rgba(30,31,33,0.8);
}
tr:hover {
	background: rgba(30,31,33,1);
}
tr:nth-of-type(even) {
	background: rgba(40,41,43,0.8);
}
tr:nth-of-type(even):hover {
	background: rgba(40,41,43,1);
}
.Stacked {
	display: flex;
	flex-direction: column-reverse;
}
.Stacked > code {
	line-height: 1.1rem;
}
th {
	position: sticky;
	top: 0;
	background: rgb(24,27,31);
	line-height: 2rem;
	color: rgb(130,131,133);
}
th:first-of-type {
	width: 33%;
}
th:last-of-type {
	width: 100%;
}
th > input {
	text-align: center;
	color: white;
	font-size: 1.3rem;
	outline: none;
	border: none;
	border-radius: 3px;
	background: rgba(30,31,33,0);
}
th > input:hover {
	background: rgba(30,31,33,1);
	box-shadow: 0 0 3px 0 white inset;
}
