
main {
	color: white;
	margin: auto;
	padding: 9px;
}
table {
	cursor: default;
	max-width: 800px;

	th {
		top: 0;
		z-index: 10;
		position: sticky;
		color: rgb(130,131,133);
	}
	th > input {
		text-align: center;
		color: white;
		outline: none;
		border: none;
		border-radius: 3px;
		background: rgba(30,31,33,1);
	}
	th > input:hover {
		background: rgba(30,31,33,1);
		box-shadow: 0 0 3px 0 white inset;
	}
	tr { 
		background: rgba(32,32,32,1);
		border-radius: 2px 4px;
		box-shadow: 0 0 3px 1px rgb(52,152,219,0.2) inset;
	}
	tr:hover { background: rgba(30,31,33,1); }
	tr:nth-of-type(even) { 
		border-radius: 4px 0;
		box-shadow: 0 0 6px 2px rgb(152,52,219,0.1) inset;
	}
	tr:nth-of-type(even):hover { background: rgba(40,41,43,1); }
	tr:first-of-type {
		box-shadow: unset;
	}
	.Stacked {
		display: flex;
		flex-direction: column-reverse;
		
		code {
			line-height: 1.15rem;
		}
	} // Stacked

}
